CREATE POLICY customers ON  customers;
CREATE POLICY  employees ON employees;
CREATE POLICY  privileges ON privileges;
CREATE POLICY  employee_privileges ON employee_privileges;
CREATE POLICY  inventory_transaction_types ON inventory_transaction_types;
CREATE POLICY  shippers ON shippers;
CREATE POLICY  orders_tax_status ON orders_tax_status;
CREATE POLICY  orders_status  ON orders_status;
CREATE POLICY  orders ON orders;
CREATE POLICY  products ON products;
CREATE POLICY  purchase_order_status ON purchase_order_status;
CREATE POLICY  suppliers ON suppliers;
CREATE POLICY  purchase_orders ON purchase_orders;
CREATE POLICY  inventory_transactions ON inventory_transactions;
CREATE POLICY  invoices ON invoices;
CREATE POLICY  order_details_status ON order_details_status;
CREATE POLICY  order_details ON order_details;
CREATE POLICY  purchase_order_details ON purchase_order_details;
CREATE POLICY  sales_reports ON sales_reports;
CREATE POLICY  strings ON strings;
