CREATE POLICY   customers ON  PUBLIC.customers;
CREATE POLICY   employees ON PUBLIC.employees;
CREATE POLICY   privileges ON PUBLIC.privileges;
CREATE POLICY   employee_privileges ON PUBLIC.employee_privileges;
CREATE POLICY   inventory_transaction_types ON PUBLIC.inventory_transaction_types;
CREATE POLICY   shippers ON PUBLIC.shippers;
CREATE POLICY   orders_tax_status ON PUBLIC.orders_tax_status;
CREATE POLICY   orders_status  ON PUBLIC.orders_status;
CREATE POLICY   orders ON PUBLIC.orders;
CREATE POLICY   products ON PUBLIC.products;
CREATE POLICY   purchase_order_status ON PUBLIC.purchase_order_status;
CREATE POLICY   suppliers ON PUBLIC.suppliers;
CREATE POLICY   purchase_orders ON PUBLIC.purchase_orders;
CREATE POLICY   inventory_transactions ON PUBLIC.inventory_transactions;
CREATE POLICY   invoices ON PUBLIC.invoices;
CREATE POLICY   order_details_status ON PUBLIC.order_details_status;
CREATE POLICY   order_details ON PUBLIC.order_details;
CREATE POLICY   purchase_order_details ON PUBLIC.purchase_order_details;
CREATE POLICY   sales_reports ON PUBLIC.sales_reports;
CREATE POLICY   strings ON PUBLIC.strings;
