
body {
	width:10024px;
	font: normal 12px/150% Arial, Helvetica, sans-serif;
	background: #E1EEF4; 
}
#menu {
	float: left;
	overflow: auto;
	position: relative;
	width:20%
	display:inline-block;
	margin: auto;	
	background-color:#006699; 
	color:#FFFFFF; 
	font-size: 15px; 
	font-weight: bold; 
	border-left: 1px solid #0070A8; 
	padding-right:10px;	
	
}
#menu ul {
 list-style-type: none;
 padding-left:10px;
} 

#menu  a:link {
	color: #FFFFFF;
}
#menu  a:visited {
	color: #FFFFFF;
}

.header { 
	color: #00496B; 
	background: #E1EEF4;
	padding: 10px
}
.header h2 {
	margin:2px
}
.sortIcon {
	position:absolute;
	top:-15px;
	left:0; 
	font-size: x-small
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%
}

.dropdown ul {
 list-style-type: none;
 padding-left:10px;
} 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.show {display:block; z-index:10}
#dataTable {
	float : left;
	overflow: auto; 
	position: relative;
	width:80%
	display:inline-block;
	margin-left: 10px;	
}
.datagrid table { 
 	text-align: left;  
 	width: 100%
} 
.datagrid {
	font: normal 12px/150% Arial, Helvetica, sans-serif; 
	background: #fff;
	border: 1px solid #006699; 
	border-radius: 3px; 
}
.datagrid table td, .datagrid table th { 
	padding: 3px 10px; 
	position: relative;
}
.datagrid table thead th {
	background-color: #006699; 
	color: #FFFFFF; 
	font-size: 15px; 
	font-weight: bold; 
	border-left: 1px solid #0070A8; 
	text-align: center;
} 
.datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { 
	color: #00496B; 
	border-left: 1px solid #E1EEF4;
	font-size: 12px;
	font-weight: normal; 
}
.datagrid table tbody tr:hover{ 
  background: #0099EE; 
}
.datagrid table tbody .alt:hover  {
  background: #0099EE; 
}
.datagrid table tbody .alt { 
  background: #E1EEF4; 
  color: #00496B; 
}
.datagrid table tbody td:first-child{ border-left: none; }
.datagrid table tbody tr:last-child td { border-bottom: none; }
.datagrid table tfoot td div { border-top: 1px solid #006699; background: #E1EEF4;} 
.datagrid table tfoot td { padding: 0; font-size: 12px } 
.datagrid table tfoot td div{ padding: 2px; }
.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: left; }
.datagrid table tfoot li { display: inline; }
.button { 
	text-decoration: none; 
	display: inline-block;  
	padding: 2px 8px; 
	margin: 1px;
	color: #FFFFFF;
	border: 1px solid #006699;
	border-radius: 3px; 
 	background-color:#006699; 
 	cursor: pointer;
 }
 .datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { 
 	text-decoration: none;
 	border-color: #006699; 
 	color: #FFFFFF; 
 	background: none; 
 	background-color:#00557F;
 }
 td.Double {
  text-align: right;
 }
 td.Byte {
  text-align: center;
 }
 td.Duration {
 	text-align: right;
 }
 td.Decimal{
      text-align: right;
 }
 td.Int16{
      text-align: right;
 }
 td.Int32{
      text-align: right;
 }
 td.Int64{
      text-align: right;
 }
 td.Date{
      text-align: center;
 }
 td.String{
      text-align: left;
 }
 